<div class="container">
  <div class="row">
    <div class="col main-renderer">
      <app-main-renderer></app-main-renderer>
    </div>
    <div class="col">
      <div class="sliders">
        <app-sliders></app-sliders>
      </div>
      <div class="top">
        <app-top-renderer></app-top-renderer>
      </div>
      <div class="middle">
        <app-middle-renderer></app-middle-renderer>
      </div>
      <div class="bottom">
        <app-bottom-renderer></app-bottom-renderer>
      </div>
    </div>
  </div>
</div>


